on:
  push:
    branches: [main]
  pull_request:

name: R CMD Check

permissions: read-all

jobs:
  check-package:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libbz2-dev liblzma-dev zlib1g-dev libglpk-dev pandoc texlive-latex-recommended texlive-latex-extra

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            cran::BiocManager
          upgrade: 'TRUE'

      - name: Run checks
        uses: r-lib/actions/check-r-package@v2